* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

i {
    cursor: pointer;
}

.column {
    float: left;
    width: 50%;
    height: 100vh;
    overflow-x: auto;
}

#right-col {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/001/218/517/small/colorful-holographic-gradient-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .music-player {
        min-width: 100%;
        margin-top: 90vh;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

nav a {
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 2em;
    color: #161616;
}

header {
    height: 40%;
    width: 100%;
    padding: 3em;
}

p, h {
    font-size: 0.8em;
    letter-spacing: 1px;
    padding-bottom: 2.3em;
    text-transform: uppercase;
    color: #121212;
}

h {
    font-size: 2em;
    color: black;
    font-weight: 600;
}

.song-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.song {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey
}

.song-info {
    height: 100%;
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.song-info i, .song-time i {
    color: #505256;
    font-size: 30px;
}

.song-time {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-time i {
    font-size: 20px;
}

.album-cover {
    height: 60%;
    width: 100%;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cadd8e57240591.59cdc5ba209d3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.album-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 3em;
    font-style: bold;
    padding: 15px;
}

.button-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    align-items: center;
}

.add-button {
    height: 50px;
    width: 90px;
    background: inherit;
    background: inherit;
    outline: none;
    border: none;
    background: #121212;
    color: #f1f1f1;
    padding: 10px 30px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.add-button span {
    text-transform: uppercase;
    margin-left: 5px;
}

.more-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: inherit;
    border: 1px solid #aaa;
    outline: none;
}

.music-player {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50%;
    background-color: thistle;
    display: grid;
    grid-template-columns: 20% 80%;
}

.music-player__progress {

}

.music-player__time {
    display: flex;
    justify-content: space-between;
}

.music-player__range {
    width: 100%;
}